
<%= javascript_tag do %>
  window.nearbyLocationData = <%= raw @location_data.to_json %>;
<% end %>

<div id="branding">
   <div class="branding-side">
    <% if params[:view_all] == "y" %>
      <%= link_to "List View", controller: "map", action: "list", :params => { :view_all => "y" } %>
    <% else %>
      <%= link_to "List View", controller: "map", action: "list", :params => { :view_all => "n" } %>
    <% end %>
   <!-- <a id="menu" href="#"><img class="nav_icon" src="assets/monkey.png" /></a>-->
  </div>

  <div id="branding-center">
  <!--  <img src='/assets/slime.png' alt='slime' height='20' /> -->
    <h1 class='map-title big_text'></h1>
      <p id="latlng"></p>
  </div>
  <div class="branding-side">
    <!--<a id="go_home" href="#"><img class="nav_icon" src="assets/target2.png" /></a>-->
    <% if params[:view_all] == "y" %>
      <%= link_to "Show Open", controller: "map", action: "index", :params => { :view_all => "n" } %>
    <% else %>
      <%= link_to "Show All", controller: "map", action: "index", :params => { :view_all => "y" } %>
    <% end %>
  </div>
</div>



<!--<div id="content">

  <%= flash[:no_location_found] %>
  <div class="limiter">

    <div id="about">

      <p class='description'></p>
      <div id="markerfilters" class="clearfix section">
            <a class="markerfilter selected" href="#all">All</a>
            <a class="markerfilter" href="#beer"></a>
          </div>
    </div>
  </div>
</div>-->

<%= content_tag 'div', id: "map", class: "map overthrow" do %>
<% end %>
<script src="/assets/script.js"></script>

