
	<div class="list_header">
		<h1 class="big_text">BEERDAR</h1>
	</div>
	<div id="listy">
	<h5>Your location is  <%=  Geocoder.address(get_user_location) %> and you look thirsty! </h5>

	

		<% if params[:view_all] == "y" %>
			<div class="button_area">
				<%= link_to "Map View", controller: "map", action: "index", :params => { :view_all => "n" } %>
					&nbsp; &nbsp; &nbsp;
				<%= link_to "Show Open", controller: "map", action: "list", :params => { :view_all => "n" } %>
			</div>
			<br />
			<h4>Here's some happy hours near you: </h4>
		<% else %>
			<div class="button_area">
				<%= link_to "Map View", controller: "map", action: "index", :params => { :view_all => "y" } %>
					&nbsp; &nbsp; &nbsp;
				<%= link_to "Show All", controller: "map", action: "list", :params => { :view_all => "y" } %>
			</div>
			<br />
			<h4> Here's some currently running happy hours near you: </h4>
		<% end %>
		<div class="static_map">
			<%= image_tag("http://maps.googleapis.com/maps/api/staticmap?" <<
										"center=#{get_user_location(true)}" <<
										"&zoom=#{params[:zoom] || 14}" <<
										"&size=600x300" <<
										"&maptype=roadmap" <<
										"&markers=color:blue%7C#{get_user_location(true)}" <<
										mass_markers(@list_data) <<
										"&sensor=false",
										width: "100%") %>
		</div>
	<br />
	<br />

	<ul>
	<% marker_index = 64 %> <!-- This marker_index helps generate matching map icon letters in the list -->
	<% @list_data.each_with_index do |bar, index| %>
		<% bar.happy_hours.each do |hh| %>
			<% if hh.open_now? || params[:view_all] == "y" %>

				<li>
					<ul>
					<% unless bar == @last_bar %>
						<li><strong>
							<% if marker_index < 90 %> <!-- the list stops generating letter at 90 since there we run out of letters -->
								<span class="marker_letter"><%= marker_index+=1;marker_index.chr %></span>:
							<% end %>
							<%= bar.name %>
						</strong></li>
						<li>
							<%= link_to(obvs_addy(bar.address), "http://maps.google.com/maps?q=#{obvs_addy(bar.address)}, Seattle, WA") %>
						</li>
					<% end %> <!--end of unless statement -->
					<li>
						<%= pretty_weekdays(hh.days) %> :
						<%= hh.start_time.strftime('%-l:%M %p') + " - " + hh.end_time.strftime('%-l:%M %p') %>
					</li><li>
						<% hh.bargains.each do |barg| %>
							<%= barg.deal %></li>
						<% end %>
					</ul>
				</li>
				<br />
				<% @last_bar = bar %>
			<% end %><!--end of if statement -->			
		<% end %> 
	<% end %>
	</ul>

</div>