
	<div class="list_header">
		<h1 class="big_text">BEERDAR</h1>
	</div>
	<div id="listy">
	<h5>Your location is  <%=  Geocoder.address(cookies[:lat_lng].split("|")) %> and you look thirsty! </h5>


		<% if params[:view_all] == "y" %>
			<div class="button_area">
				<%= link_to "Map View", controller: "map", action: "index", :params => { :view_all => "n" } %>
					&nbsp; &nbsp; &nbsp;
				<%= link_to "Show Open", controller: "map", action: "list", :params => { :view_all => "n" } %>
			</div>
			<br />
			<h4>Here's some happy hours near you: </h4>
		<% else %>
			<div class="button_area">
				<%= link_to "Map View", controller: "map", action: "index", :params => { :view_all => "y" } %>
					&nbsp; &nbsp; &nbsp;
				<%= link_to "Show All", controller: "map", action: "list", :params => { :view_all => "y" } %>
			</div>
			<br />
			<h4> Here's some currently running happy hours near you: </h4>
		<% end %>

	<br />
	<br />

	<ul>
	<% @list_data.each_with_index do |bar, index| %>
		<% bar.happy_hours.each do |hh| %>
		<% if hh.open_now? || params[:view_all] == "y" %>

			<li>
				<ul>
					<li><strong>
				<%= bar.name %>
				</strong></li>
				<li>
					<%= obvs_addy(bar.address) %>
				</li><li>
					<%= pretty_weekdays(hh.days) %> :
					<%= hh.start_time.strftime('%-l:%M %p') + " - " + hh.end_time.strftime('%-l:%M %p') %>
				</li><li>
					<% hh.bargains.each do |barg| %>
						<%= barg.deal %></li>
					<% end %>
				</ul>
			</li>
			<br />
			<% end %>
		<% end %> <!--end of if statement -->
	<% end %>
	</ul>

</div>